.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.bookAppointmentContainer {
  margin-top: 20px;
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookAppointmentContainer > h1 {
  font-size: 20px;
  font-weight: bolder;
}

.goBackBtn {
  width: 100px;
  height: 40px;
  border: 2px solid;
  border-radius: 2rem;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
}

.bookAppointmentContainerForm {
  margin-top: 10px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #d3d3d3;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
