.navbar {
  padding: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}

.getHelpBtn {
  width: 100px;
  height: 40px;
  border: 2px solid;
  border-radius: 2rem;
  cursor: pointer;
  background-color: white;
  font-weight: bold;
  margin-top: 7px;
}
